name: train-my-model
on: [push]
jobs:
  train-model:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: iterative/setup-cml@v1
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Train model
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          PYTHONPATH: async-processing/app/
        run: |
          printenv
          python3 -m pip install -r async-processing/requirements.lock
          python3 async-processing/app/consumer/tasks.py
          # Create CML report
          echo "## Metrics" >> async-processing/report.md
          cat async-processing/app/data/metrics.txt >> async-processing/report.md
          echo "## Plots" >> async-processing/report.md
          echo "### YY-plot" >> async-processing/report.md
          cml publish async-processing/app/data/yy_plot.png --md --title 'YY Plot' >> async-processing/report.md
          echo "### Residual-plot" >> async-processing/report.md
          cml publish async-processing/app/data/residual_plot.png --md --title 'Residual Plot' >> async-processing/report.md
          cml send-comment async-processing/report.md